<h1 class="page-header">仪表盘</h1>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder" style="text-align: center;">
    <img src="imgs/Internet.jpg" width="80" height="80" alt="Generic placeholder thumbnail">
    <h4>互联网</h4>
    <span class="text-muted">{{ first.decode('utf-8') }}</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder" style="text-align: center;">
    <img src="imgs/AttachedDevice.jpg" width="80" height="80" alt="Generic placeholder thumbnail">
    <h4>已连接终端</h4>
    <span class="text-muted">{{ second.decode('utf-8') }}</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder" style="text-align: center;">
    <img src="imgs/Sensors.jpg" width="80" height="80" alt="Generic placeholder thumbnail">
    <h4>传感器</h4>
    <span class="text-muted">{{ third.decode('utf-8') }}</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder" style="text-align: center;">
    <img src="imgs/Users.jpg" width="80" height="80" alt="Generic placeholder thumbnail">
    <h4>用户</h4>
    <span class="text-muted">{{ fourth.decode('utf-8') }}</span>
  </div>
</div>
<h2 class="sub-header">操作记录</h2>
<div class="table-responsive">
</div>
