<h1 class="page-header">红外线</h1>
<h2 class="sub-header">红外线学习</h2>
<div class="row placeholders">
  <div class="col-xs-6 col-md-2 placeholder">
    <button type="button" class="btn btn-primary btn-lg active" id="studybutton" >开始学习</button>
  </div>
  <div class="col-xs-12 col-md-10 placeholder">
    <figure class="highlight">
      <pre>
        <code class="language-html" data-lang="html" id='backinfo'>
        </code>
      </pre>
    </figure>
  </div>
</div>
<h2 class="sub-header">发射红外线</h2>
<!--SelectionButtons grouped by difference room-->
<!--After select go AJAX and get list of IR signal-->
<!--Display IR signal in graph and some management options-->
<script src="js/IRControl.js"></script>
