<h1 class="page-header"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>系统管理</h1>
<div id="Sysmanager_alerts"></div>
<div class="row placeholders">
  <ul class="nav nav-tabs" role="tablist" id="systemTabs">
    <li role="presentation" class="active"><a href="#Users" aria-controls="Users" role="tab" data-toggle="tab">用户</a></li>
    <li role="presentation"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">房间</a></li>
    <li role="presentation"><a href="#devices" aria-controls="devices" role="tab" data-toggle="tab">设备</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Users">
      <!--<ul class="list-group">
        <li class="list-group-item">
          <div class="btn-group btn-group-xs" role="group" style="float: right;">
            <button type="button" class="btn btn-default" onclick="predeluser(Username)" id="delButton_Username"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</button>
            <button type="button" class="btn btn-default" onclick="premodpriv(Username)" id="privButton_Username"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>修改权限</button>
            <button type="button" class="btn btn-default" onclick="premodpass(Username)" id="passButton_Username"><span class="glyphicon" aria-hidden="true">&#57864;</span>修改密码</button>
          </div>
          Username
        </li>
      </ul>-->
    </div>
    <div role="tabpanel" class="tab-pane fade" id="rooms">
    </div>
    <div role="tabpanel" class="tab-pane fade" id="devices">
    </div>
  </div>
</div>
<script type="text/javascript" src="js/sha1.js"></script>
<script type="text/javascript" src="js/Sysmanager.js"></script>
